@keyframes btnservices {
  0% {
    transform: translateY(40rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes preloaders {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloadertext {
  0% {
    width: 297px;
  }
  50% {
    width: 27px;
  }

  100% {
    width: 297px;
  }
}
