* {
  margin: 0;
  font-family: "font-import";
}
body {
  letter-spacing: 1px;
  //background-color: #d2d6de;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #777;
  @include respond(super-big) {
    font-size: 23px;
  }
}

body::-webkit-scrollbar {
  width: 9px;
  height: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #444;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: rgb(37, 37, 37);
  cursor: pointer;
}
