/*the :hover or :link is called pseudo clases they define an element state */

.btn {
  margin: 0;
  margin-top: 10px;
  border: none;
  padding: 12px 3rem;
  display: inline-block;
  text-decoration: none;

  border-radius: 5px;
  transition: all 0.3s;
  font-weight: 400;
  font-size: 16px;
  position: relative;

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.438);
    &::after {
      transform: scaleX(1.4) scaleY(1.4);
      opacity: 0;
    }
    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.274);
    }
  }
  &--blue {
    background-color: $color_blue;
    color: $color_white;
    &::after {
      background-color: $color_blue;
    }
  }
  &--green {
    background-color: $color_green;
    color: $color_white;
    &::after {
      background-color: $color_green;
    }
  }
}

.nav-link-item {
}

.nav-link-item {
  display: inline-block;
  /* only screen and is used to set scalling of website to web only and not when someone is printing the web-page
  the media queries only apply to screens
  */
}
.nav-link-item:not(:last-child) {
  margin-right: 1.5rem;
}

.nav-link-item:link,
.nav-link-item:visited {
  padding: 12px;
  color: #777;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all 0.3s;
  background-color: #333;
}
.nav-link-item:hover,
.nav-link-item:active {
  color: #7ed56f;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
