.login {
  //  background-color: #d2d6de;
  width: 100%;
}
.loginbody {
  // background-image: url("../../../assets/img/background.jpg");

  display: flex;
  background-color: #f7f7f7;
  background-repeat: repeat;
  background-size: auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.form-container {
  display: flex;
  flex-direction: row;
  text-align: start;
  justify-content: center;
  margin-top: 20px;
  @include respond(tab-land) {
    margin-top: 6px;
    justify-content: space-around;
  }
}
.login-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  // justify-content: center;
  // height: 100vh;
  // width: 100%;
  padding: 2rem;

  @include respond(phone) {
    padding: 0;
  }
}
form input {
  margin: 12px;
}
.form_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_group-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
hr {
  margin-top: 20px;
  @include respond(tab-land) {
    margin-top: 14px;
  }
  @include respond(phone) {
    margin-top: 10px;
  }
}
input {
  transition: all 0.1s;
  border-bottom: 2px transparent;
}
input:focus {
  outline: none;
  border: 0;
  border-bottom: 2px solid green;
}
input::placeholder {
  color: #999;
  //   color: #999;
}

.inputfield {
  background-color: #f2f2f2;
  padding: 15px 22px;
  border-radius: 5px;
  width: 200px;
  border: none;
  border-bottom: 2px transparent;
  border-top: 2px transparent;
  @include respond(tab-land) {
    @include respond(tab-land) {
      font-size: 14px;
    }
  }
}

.logintitle {
  opacity: 0.8;
  font-weight: 400;
  @include respond(big-desktop) {
  }
  @include respond(tab-land) {
    font-size: 15px;
  }
  @include respond(tab-port) {
  }

  @include respond(phone) {
  }
}

.forgot {
  text-decoration: none;
  color: red;
  transition: all 0.2s;
  font-family: sans-serif;
  font-size: 13px;
  @include respond(tab-land) {
    font-size: 12px;
  }
}
.forgot:hover {
  color: black;
}

.signup {
  text-decoration: none;
  color: green;
  font-family: sans-serif;
  transition: all 0.2s;
  font-size: 13px;
}

.signup:hover {
  color: rgb(177, 177, 18);
}

.menu {
  margin-top: 10px;
  font-size: 15px;
}

.copyright {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 10px;
}

.login-logo {
  margin-bottom: 10px;

  @include respond(tab-land) {
    width: 76px;
  }

  @include respond(phone) {
    width: 60px;
  }
}

.register-form {
  transition: all 0.5s;
}
.mg-5 {
  margin: 5rem;
}
.hidden {
  display: none;
}

.backdrop {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #000000c7;
  // height: 100vh;
  height: 100%;
}

.forgot-password {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.reset-title {
  font-weight: 400;
  margin-bottom: 5px;
}
.modal-login {
  position: absolute;
  width: 100%;
  z-index: 10000;
  height: 101%;
}
.login-card {
  z-index: 1000;
  text-align: center;
}
.close {
  text-align: right;
  color: red;
  margin-bottom: 2px;
}
.close-modal-btn:hover {
  cursor: pointer;
}

// ADMIN RESPONSIVE
#owners-login-form {
  @include respond(tab-land) {
    font-size: 14px;
  }
}
.login-card {
  @include respond(tab-land) {
    width: 19rem !important;
    padding: 1rem !important;
  }
  @include respond(phone) {
    width: 16rem !important;

    padding: 1rem !important;
  }
}
.login-nav {
  @include respond(tab-land) {
    display: none;
  }
  @include respond(tab-port) {
  }
}
.login-input {
  @include respond(tab-land) {
    padding: 13px 5px;
    margin: 8px;
  }
  @include respond(tab-port) {
    padding: 13px 2px;
    width: 190px;
  }
}
.admin-login-container {
  @include respond(phone) {
    display: inherit;
  }
}
