.sidepanel {
  width: 28rem;
  height: 42rem;
  min-width: 28rem;
  padding: 1rem;
  @include respond(tab-land) {
    height: 13rem;
  }
}
.panel {
  padding: 1rem;
  width: 100%;

  height: 47rem;
  @include respond(tab-port) {
    font-size: 14px;
    padding: 3px;
  }
}

.profile-content {
  display: flex;
  @include respond(tab-land) {
    flex-direction: column;
  }
  @include respond(phone) {
    width: 42rem;
  }
}
.border-green {
  border: 2px solid #7ed56f;
  border-radius: 10px;
  transition: all 0.5s;
}
.border-green:hover {
  box-shadow: 1px 8px 20px #0000001f;
  border: 2px solid #79b46f;
}

.content-profile {
  // background-color: #f7f7f7;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  // box-shadow: 0px 5px 30px rgba(20, 20, 20, 0.158);
  border: 2px solid #7ed56f;
  transition: all 0.6s;

  @include respond(tab-land) {
    // height: 34%;
    font-size: 14px;
    width: 44%;
  }
  @include respond(tab-port) {
    font-size: 14px;
    width: 44%;
  }
}
.available {
  @include respond(tab-port) {
    text-align: center;
  }
}
.content-profile:hover {
  box-shadow: 1px 8px 20px #0000001f;
  border: 2px solid #79b46f;
}
.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-form-password {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  @include respond(tab-port) {
    width: 99%;
    height: 23rem;
    align-items: center;
    justify-content: center;
  }
}
.panel-long {
  @include respond(tab-port) {
    height: 60rem;
  }
}
.password-center {
  @include respond(tab-port) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.new-pass {
  display: flex;
  flex-direction: column;
}
.old-pass {
  height: 14rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.password-section {
  margin: 1rem;
  opacity: 0.7;
}
.name-form {
  padding: 2rem;
}

.naviagtion-pofile {
  display: flex;
  flex-direction: column;
}
.bg-black {
  background-color: #333;
}
.booking-name {
  margin: 1rem;
  position: absolute;
  font-size: 60px;
  font-weight: 200;
  color: white;
  // color: #7ed56f;
  left: 10px;
  top: 176px;
  font-family: sans-serif;
}

.-xl {
  height: 74rem;
}
.-pd1 {
  padding: 1rem;
}
.booking-date {
  padding: 10px;
  // font-style: italic;
  letter-spacing: 2.1px;
  line-height: 25px;
  transition: all 0.4s;
}
.booking-details {
  color: black;
  opacity: 0.8;
  padding: 10px;
  line-height: 29px;
  letter-spacing: 2px;
  // border-top: 1px solid;
  margin-top: 5px;
  font-weight: 300;
  margin-left: 19px;
  font-family: sans-serif;
}
.-mgl {
  margin-left: 1rem;
}
.house-rules {
  padding: 1rem;
  color: black;
  line-height: 28px;
  opacity: 0.8;
}

.content-profile-second {
  // background-color: #f7f7f7;
  width: 100%;
  margin-top: 1rem;
  border-radius: 10px;
  // height: 100%;
  // box-shadow: 0px 5px 30px rgba(20, 20, 20, 0.158);
  // border: 1px solid #7ed56f;
  transition: all 0.6s;
}
.content-profile-second:hover {
  box-shadow: 1px 8px 20px #0000001f;
  // border: 2px solid #79b46f;
}
.second-profile {
  line-height: 30px;
  padding: 35px;
}
.payment-tab {
  color: #7ed56f;
}
.house-action {
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  transition: all 0.2s;
  color: #7ed56f;
}
.house-action:hover {
  color: #333;
}
.refund {
  text-align: center;
}
.flex-settings {
  display: flex;
  align-items: center;

  @include respond(tab-land) {
    font-size: 15px;
  }
}
.rules li {
  font-family: sans-serif;
  margin-top: 16px;
}
.light {
  font-weight: 400;
  font-family: sans-serif;
}
.house-hero {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 327px;
  margin: 1rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 79, 148, 0.769),
      rgba(0, 4, 41, 0.767)
    ),
    url(../../img/background.jpg);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-house {
  position: relative;
}
.hero-house:hover > .booking-date {
  color: rgba(255, 255, 255, 0.87);
}
.booking-date-info {
  position: absolute;
  top: 262px;
  left: 30px;
}
.mglxl {
  margin-left: 26px;
}
.booking-street {
  margin-left: 18px;
}
.qrcode {
  text-align: center;
}
.share {
  text-decoration: none;
  transition: all 0.3s;
}
.share:hover {
  color: #7ed56f;
}
.profile-svg {
  transition: all 0.3s;
}
.profile-svg:hover {
  color: #7ed56f;
}
.price-detail {
  width: 44rem;
  display: flex;
  align-items: baseline;
  justify-content: space-around;

  @include respond(tab-port) {
    display: flex;
    align-items: center;
    width: 20rem !important;
    flex-direction: column;
  }
}
.content-profile-large {
  @include respond(tab-land) {
    width: 96%;
  }
}
.form-responsive {
  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
  }
}
